PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_u2ktq9clLFDm@ep-hidden-thunder-amvttl1y.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="your_secure_random_string_here"
JWT_EXPIRES_IN="1d"
NODE_ENV="development"
